{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    </head>
{% endblock %}
<body class="{{ body_class }}">
<div id="page">
    {% block header %}{% include 'header.twig' %}{% endblock %}
    <section id="content" role="main">
        {#{% if title %}<h1>{{ title }}</h1>{% endif %}#}
        {% block content %}{% endblock %}
        {#{% if sidebar %}{{ sidebar }}{% endif %}#}
    </section>
    {% block footer %}{% include 'footer.twig' %}{% endblock %}
</div>
{{ function('wp_footer') }}
{% block foot %}{% endblock %}
</body></html>
