{% block html_head_container %}
    {% include 'html-header.twig' %}
    {% block head %}{% endblock %}
    </head>
{% endblock %}
<body{#class="{{ body_class }}"#}>
<div id="app">
    {% block header %}{% include 'header.twig' %}{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    {% block footer %}{% include 'footer.twig' %}{% endblock %}
</div>
{{ function('wp_footer') }}
{% block foot %}{% endblock %}
</body></html>
