{% extends "base.twig" %}
{% block content %}
    <article class="post-type-{{ post.post_type }}">
        <section class="article-body">
            <h1 class="entry-title">{{ post.title }}</h1>

            <div class="article-content">{{ post.content }}</div>
        </section>
    </article>
{% endblock %}
