{% extends "base.twig" %}
{% block content %}
    <div class="type-{{ post.post_type }}">
        <h1 class="entry-title">{{ post.title }}</h1>
        <div class="entry-content">{{ post.content }}</div>
    </div>
{% endblock %}
