/* Generic Styles, Resets, etc */
*,
*:focus {
  outline: none;
}

html {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: blue;
  &:hover {
    color: red;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}
